//form系よく使うstyle

//radio
.form--contact__radio
	display none
	& + label
		&:before
			content ''
			display inline-block
			margin-right: 5px
			@extend .c-icon--radio
	&:checked
		& + label
			&:before
				@extend .c-icon--radio--on

//jade 例
//input.search-checkbox(type="checkbox" name="a" id="check01" checked)
//label.search-checkbox__label(for="check01")
//	|hoge
