/*styl 備忘録*/

//placeholder用style
&:placeholder-shown
	color base
&::-webkit-input-placeholder
	color base

//select用リセット ie
select::-ms-expand
	display none

//stylus builtin
height ceil((image-size('../img/hoge.jpg')[1]) / 2)
