.nav-horizontal
	overflow: hidden
	height: 54px
	width: 100%
	background-color back

.nav-horizontal__mask
	height: 74px
	width: 100%
	overflow-x: auto
	-webkit-overflow-scrolling: touch

.nav-horizontal__list
	display: inline-table
	max-width: 100%
	height 100%

.nav-horizontal__lists
	display: table-cell
	vertical-align top
	white-space: nowrap
	padding-right 35px
	height: 54px
	padding-top: 21px


//nav.nav-horizontal.u-mt20
//	.nav-horizontal__mask
//		ul.nav-horizontal__list.u-fs--s
//			li.nav-horizontal__lists
//				a(href='#') テキスト
//			li.nav-horizontal__lists
//				a(href='#') テキスト
//			li.nav-horizontal__lists
//				a(href='#') テキスト
//			li.nav-horizontal__lists
//				a(href='#') テキスト
//			li.nav-horizontal__lists
//				a(href='#') テキスト
//			li.nav-horizontal__lists
//				a(href='#') テキスト
//			li.nav-horizontal__lists
//				a(href='#') テキスト
